
<ion-header >
  <ion-toolbar color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'USERS' | translate }}</ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
        <ion-searchbar placeholder="{{ 'SEARCH' | translate }}" 
         (keyup)="valuechangeSearch($event)" [(ngModel)]="searchQuery" >
        </ion-searchbar> 
    </ion-row>
    <ion-row>
        <ion-col col-12>

            <ion-list>
              <ion-item>
                <ion-label>Estado del usuario</ion-label>
                <ion-select [(ngModel)]="userState"
                      (ionChange)="onUserStateSelect($event)"  
                       class="lenguaje-select" 
                       okText="Ok" cancelText="Cancelar">
                  <ion-option value="0">Inactivo</ion-option>
                  <ion-option value="1">Activo</ion-option>
                  <ion-option value="2">Ambos</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
                  
        </ion-col>
    </ion-row>
  </ion-grid>



  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="{{ 'PULL_REFRESH' | translate }}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'LOADING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>



<ion-list>

  <button ion-item *ngFor="let user of listData"  (press)="itemPressed(user)" (tap)="itemTapped(user)">
    <h2>Email: {{user.email}}</h2>
    <h3>Nombre: {{user.name}} {{user.sur_name}}</h3>
    <p>Identificacion: {{user.identification}}</p>
    <ng-container *ngIf="user.active === 1">
        Activo
    </ng-container>
    <ng-container *ngIf="user.active === 0">
        Inactivo
    </ng-container>
     </button>  
</ion-list>


  <ion-fab right bottom>
    <button (click)="addResource()" ion-fab color="grenTheme" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

             
</ion-content>
