<ion-header>
 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="width: inherit;" >{{ 'GO_PAY' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="closeDialog()" >
    	<ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
 </ion-toolbar>
</ion-header>


<ion-content padding>

	<div class="title-pay">
		Facturacion
	</div>

	<ion-list>
		<ion-item>
			total (productos):  {{totalProduct}}
		</ion-item>	

		<ion-item *ngIf="sendPay !== 0"> 
			Pago por envio
		</ion-item>
		<ion-item *ngIf="sendPay === 0"> 
			No se cobra envio
		</ion-item>

		
		  <ion-item>
			    <ion-label>{{ 'METHOD_PAYMENT' | translate }}</ion-label>
			    <ion-select 
			           class="lenguaje-select" 
			           okText="Ok" cancelText="Cancelar">
			      <ion-option *ngFor="let i of listDataPaymentMethod" [value]="i.id">{{i.name}}</ion-option>
			    </ion-select>
			</ion-item>


		<div style="margin-top: 20px">
			<b>Total a pagar {{totalProduct}}</b>

		</div>


	</ion-list>

</ion-content>
