<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'CART' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="closeDialog()" >
    	<ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col col-12>
        <h1 style="text-align: center;"  >{{ 'NAME' | translate }}: {{dataParam.name}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div style="text-align: center;">{{ 'TOTAL' | translate }} :  {{total}} </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          <ion-card>
              <img   src="{{resolveImagenProduct(dataParam.img)}}"/> 
          </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        {{ 'DESCRIPTION' | translate }}: {{dataParam.description}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div>{{ 'PRICE' | translate }}: <span style="color:#df3c45" > {{dataParam.price.amount}}</span></div>
      </ion-col>
    </ion-row>

    <ion-row>

      <!--  amount -->
    <ion-col col-7>
      <ion-item>
          <ion-label >Cantidad:</ion-label>
          <ion-input  type="number"  [(ngModel)]="amount" (ngModelChange)="totalPurchase()"  >
          </ion-input>
      </ion-item>
    </ion-col>
      <ion-col col-5>
        <button color="blueTheme"  ion-button full   (click)="addItemCart()" >
          {{ 'ADD' | translate }}
        </button>
      </ion-col>
    </ion-row>
    <!-- end amount -->


  </ion-grid>

</ion-content>
