<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'PRODUCTS' | translate }}</ion-title>
     </ion-navbar>

 </ion-toolbar>

</ion-header>


<ion-content  overflow-scroll="true"  padding>

	<ion-grid xs>
		<ion-row>
			<!--<ion-col col-1></ion-col>-->
			<ion-col col-12>
                <form [formGroup]="formGroup" (ngSubmit)="onFormAction()" novalidate>

                    <!-- name -->
                    <ion-item>
                        <ion-label floating>{{ 'NAME' | translate }} * :</ion-label>
                        <ion-input  type="text"  formControlName="name" clearInput></ion-input>
                    </ion-item>


                    <ion-item  *ngIf="formGroup.get('name').errors &&
                        formGroup.get('name').dirty "  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('name').hasError('required')" >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>
                        
                        <p color="danger"  
                           *ngIf="formGroup.get('name').hasError('minlength')" 
                            ion-text >
                            {{ 'MIN_FIELD' | translate }} 3
                        </p>

                        <p color="danger"  
                           *ngIf="formGroup.get('name').hasError('maxlength')" 
                            ion-text >
                            {{ 'MAX_FIELD' | translate }} 255
                        </p>
                        
                    </ion-item>


                    <!-- description -->
                    <ion-item>
                        <ion-label floating>{{ 'DESCRIPTION' | translate }} * :</ion-label>
                        <ion-textarea formControlName="description" ></ion-textarea>
                    </ion-item>


                    <ion-item  *ngIf="formGroup.get('description').errors &&
                        formGroup.get('description').dirty"  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('description').hasError('required')" >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>
                        
                        <p color="danger"  
                           *ngIf="formGroup.get('description').hasError('minlength')" 
                            ion-text >
                            {{ 'MIN_FIELD' | translate }} 6
                        </p>

                        <p color="danger"  
                           *ngIf="formGroup.get('description').hasError('maxlength')" 
                            ion-text >
                            {{ 'MAX_FIELD' | translate }} 1024
                        </p>
                        
                    </ion-item>


                    <!-- file chooser imagen -->
                    <ion-item > 
                      <file-chooser msg="{{nameFileUpdate}}"
                          (states)="valuesFileChooser($event)"></file-chooser>
                    </ion-item>


                    <!-- price -->
                    <ion-item>
                      <ion-label floating>{{ 'PRICE' | translate }}  :</ion-label>
                        <ion-input formControlName="price" type="number"
                          (change)='onChangePrice($event.target.value)' 
                          (keyup)="onPriceUp($event.target.value)"
                          (keydown)="onPriceUp($event.target.value)" 
                          ></ion-input>
                    </ion-item>

                    <ion-item  *ngIf="formGroup.get('price').errors &&
                        formGroup.get('price').dirty"  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('price').hasError('len')" >
                            {{ 'INVALID_NUMBER_FORMAT' | translate }}
                            {{ 'MAX_FIELD' | translate }} 15                             
                        </p>
                        
                    </ion-item>



                <!-- select category -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'CATEGORY' | translate }} * :</ion-label>

                    <ion-select  
                         formControlName="category"
                                class="lenguaje-select" 
                             okText="Ok" cancelText="Cancelar">
                          <ion-option *ngFor="let i of listCategory" [value]="i.id">{{i.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="formGroup.get('category').errors &&
                    formGroup.get('category').dirty" no-lines>
                    <p color="danger" 
                        *ngIf="formGroup.get('category').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                </ion-item>


                <!-- select sub category -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'SUB-CATEGORY' | translate }} * :</ion-label>

                    <ion-select  
                         formControlName="subCategory"
                                class="lenguaje-select" 
                             okText="Ok" cancelText="Cancelar">
                          <ion-option *ngFor="let i of listSubCategory" [value]="i.id">{{i.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="formGroup.get('subCategory').errors &&
                    formGroup.get('subCategory').dirty" no-lines>
                    <p color="danger" 
                        *ngIf="formGroup.get('subCategory').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                </ion-item>




                <!-- select active -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'ACTIVE' | translate }} :</ion-label>
                    <ion-select  
                         formControlName="active"
                             okText="Ok" cancelText="Cancelar">
                    <ion-option value="true" selected>Activo</ion-option >
                   <ion-option value="false">Inactivo</ion-option >
                    </ion-select>
                </ion-item>

                

                <div style="margin-top: 20px">
                    <button ion-button full  
                        [disabled]="formGroup.invalid || validImagen == false"
                        ion-button block type="submit" >
                        {{ 'SAVE' | translate }}
                    </button> 
                </div>

                  
                </form>
            </ion-col>
            <!--<ion-col col-1> </ion-col> -->
        </ion-row>
    </ion-grid>

</ion-content>
