
<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'ASSOCIATE' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="closeDialog()" >
    	Cancelar

    </button>
  </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding>


  <ion-grid>
    <ion-row>
      <ion-searchbar placeholder="{{ 'SEARCH' | translate }}"
        (keyup)="valuechangeSearch($event)" [(ngModel)]="searchQuery" >
        </ion-searchbar>
    </ion-row>
  </ion-grid>



  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="{{ 'PULL_REFRESH' | translate }}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'LOADING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>




  
	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-10>
			  <ng-container *ngIf="listData.length === 0">
  				{{ 'DATA_NOT_FOUND' | translate }}
  			</ng-container>

  			<!-- si tengo data -->
  		<ng-container *ngIf="listData.length !== 0">
      
      <ion-list>
        <div ion-item *ngFor="let data of listData" >
           <ion-label>
							{{data.name}},
		          <ng-container *ngIf="data.price === undefined">
		            Precio : 0.0 <br/> 
		          </ng-container>
		          <ng-container *ngIf="data.price !== undefined">
		            Precio: {{data.price.amount}}, 
		          </ng-container>
		          <ng-container *ngIf="data.active === 1">
		              Estado: Activo
		          </ng-container>
		          <ng-container *ngIf="data.active === 0">
		              Estado Inactivo
		          </ng-container>
           </ion-label>
    				<ion-checkbox [(ngModel)]="data.checked" ></ion-checkbox>
         

           </div>  
      </ion-list>

  	</ng-container>


  	 <ng-container *ngIf="listData.length === 0">

 			{{ 'NO_FOUND_PRODUCTS' | translate }}

  	 </ng-container>


	    <button (click)="acceptModal()"  ion-button full  >
	      {{ 'ADD' | translate }}"
	    </button>

			</ion-col>
			<ion-col col-1></ion-col>

			</ion-row>
	</ion-grid>

</ion-content>
