
<ion-header >
  <ion-toolbar color="primary"  >

  <ion-navbar>
     <ion-title  style="width: inherit;" >{{ 'USER_PURCHASE' | translate }}</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

     <ion-buttons end>
      
      <button ion-button icon-only color="royal" 
              (tap)="filterPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>

      <button  ion-button droppable (onDrop)="onDropItem($event)"
        (click)="onClickOpenCart()"
        [dragHintClass]="'drag-hint-scale'" [dragOverClass]="'bg-danger'"
        >
        <ion-icon  style="font-size: 2.1em;margin-right: 6px" name="cart"></ion-icon>
        <ion-badge item-right>{{cartBadge}}</ion-badge>
      </button>
       
    </ion-buttons>
    
  </ion-navbar>
  </ion-toolbar>





</ion-header>


<ion-content overflow-scroll="true"  padding>


  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="{{ 'PULL_REFRESH' | translate }}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'LOADING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>


 <div *ngFor="let data of listData">

  <ion-card draggable>

  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col  col-8>
       <img style="max-height: 140px;"  src="{{resolveImagenProduct(data.img)}}" imageViewer />
    </ion-col>
      <ion-col col-2></ion-col>
  </ion-row>


  <ion-row>
   
    <ion-col  col-12>
      <ion-row  >
        <ion-col  >
          <div style="font-size:1em;font-weight: bold;">  {{data.name}}  </div>
        </ion-col>
      </ion-row>
     
      <ion-row >  
        <ion-col   >
          <div style="font-size: 1em">      
            {{ 'CATEGORY' | translate }}: {{data.category.category_name}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row >  
        <ion-col   >
          <div style="font-size: 1em">      
            {{ 'SUB-CATEGORY' | translate }}: {{data.category.subcategory_name}}
          </div>
        </ion-col>
      </ion-row>


    <ion-row  >
      <ion-col  style="color:#df3c45;font-weight: bold;"  >
           {{ 'PRICE' | translate }} {{data.price.amount}}
            </ion-col>
    </ion-row>


  <ion-row  >
    <ion-col  col-10>
           <rating [(ngModel)]="rate" 
        readOnly="false"        
        max="5"        
        emptyStarIconName="star-outline"         
        halfStarIconName="star-half"        
        starIconName="star"                
        nullable="false" 
        style="font-size:0.8em;padding-left: 0px !important;padding: 0;"
        > 
      </rating>
      
          </ion-col>


    <ion-col   col-2>
     
     <ion-buttons end>
       <button  (click)="onItemcart(data)" style="background: transparent;"> 
          <ion-icon  
            color="primary" style="font-size: 2.1em;background-color: #FFF"
            name="cart">
          </ion-icon>
        </button>
      </ion-buttons>

    </ion-col>

  </ion-row>



    </ion-col>
   
  </ion-row>




</ion-card>
       
  </div>






</ion-content>


<ion-footer>
  <button ion-button full color="blueTheme" ion-button block
    (click)="onClickGoPromo()"  >
      {{ 'PROMOS' | translate }}
  </button> 
</ion-footer>
