<!--
  Generated template for the RecuperateAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
      <ion-buttons left>
        <button ion-button (click)="goLogin()" >
          <ion-icon style="zoom:2.0;" name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{ 'RECUPERATE_ACCOUNT' | translate }}</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row>
			<!--<ion-col col-1></ion-col> -->
            <ion-col col-12>
                
                <ion-list>
					<form [formGroup]="formGroup" (ngSubmit)="onSubmitForm()" novalidate>
                    
                    <!-- email -->
                    <ion-item>
                        <ion-label floating>{{ 'EMAIL' | translate }} * :</ion-label>
                        <ion-input  type="text"  formControlName="email" ></ion-input>
                    </ion-item>
                    
                    <ion-item  *ngIf="formGroup.get('email').errors &&
                        formGroup.get('email').dirty"  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('email').hasError('required') && isOnLogin" >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>
                        <p color="danger" style="margin-top:4px" ion-text 
                            *ngIf="formGroup.get('email').hasError('pattern')">
                                {{ 'EMAIL_FIELD' | translate }}
                        </p>
                    </ion-item>


                <!-- password -->
                <ion-item>
                    <ion-label floating>{{ 'PASSWORD' | translate }} * :</ion-label>
                    <ion-input  type="password"  formControlName="password" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('password').errors &&
                formGroup.get('password').dirty" no-lines>
                                     
                    <p color="danger" 
                    *ngIf="formGroup.get('password').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('password').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>
                </ion-item>




                <!-- CPASSWORD -->
                <ion-item>
                    <ion-label floating>{{ 'C_PASSWORD' | translate }} * :</ion-label>
                    <ion-input  type="password"  formControlName="c_password" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('c_password').errors &&
                formGroup.get('c_password').dirty" no-lines>
                                     
                    <p color="danger" 
                    *ngIf="formGroup.get('c_password').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('c_password').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>
                </ion-item>


                    <ion-item>
                        <ion-label floating>{{ 'TOKEN' | translate }} * :</ion-label>
                        <ion-input  type="text"  formControlName="token" ></ion-input>
                    </ion-item>
                    
                    <ion-item  *ngIf="formGroup.get('token').errors &&
                        formGroup.get('token').dirty"  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('token').hasError('required')" >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>
                        <p color="danger" style="margin-top:4px" ion-text 
                            *ngIf="formGroup.get('token').hasError('minlength')">
                                {{ 'MAX_FIELD' | translate }} 10
                        </p>
                    </ion-item>



                    	<div style="margin-top: 20px">
		                    <button ion-button full 
                                [disabled]="formGroup.invalid"
		                        ion-button block type="submit" >
		                        {{ 'SEND' | translate }}
		                    </button> 
		                </div>

                    </form>
                </ion-list>

            
            </ion-col>
            <!--<ion-col col-1></ion-col> -->
        </ion-row>
    </ion-grid>




</ion-content>
