<ion-header >
  <ion-toolbar color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SUB-CATEGORY' | translate }}</ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-searchbar placeholder="{{ 'SEARCH' | translate }}" 
        (keyup)="valuechangeSearch($event)" [(ngModel)]="searchQuery" >
        </ion-searchbar>
    </ion-row>
  </ion-grid>


  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="{{ 'PULL_REFRESH' | translate }}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'LOADING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>


<ng-container *ngIf="listData.length === 0">
 
	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col style="text-align: center;margin-top: 20px;" col-10>
              {{ 'NO_FOUND_ASSOCIATES' | translate }}
            </ion-col>
	        <ion-col col-1></ion-col>
        </ion-row>
    </ion-grid>

  </ng-container>




  <ng-container *ngIf="listData.length !== 0">
      
      <ion-list>
        <button ion-item *ngFor="let data of listData"  
          (press)="itemPressed(data)"  (tap)="itemTapped(data)"
          >
          <h2>{{ 'NAME' | translate }}: {{data.name}}</h2>
          <h3> {{ 'DESCRIPTION' | translate }}: {{data.description}}</h3>
        
        </button>  
      </ion-list>

  </ng-container>


  <ion-fab right bottom>
    <button (click)="addResource()" ion-fab color="grenTheme" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
