
<ion-header>
  <ion-toolbar color="primary">

    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>admin home</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row style="height:50vh !important;">
			<ion-col col-12>
            
 
  <ion-slides >
  <ion-slide>
    <ion-card>

      <ion-card-header>
        <h1>vendido ejemplo 1</h1>
      </ion-card-header>

      <ion-card-content>
        <img style="height: 40vh;width: 100%" src="http://amercado.com/projecto-peru/backend/proyect-sales/token/public/img/food1.png" alt="comida">


      </ion-card-content>

      </ion-card>

  </ion-slide>
  <ion-slide>
    
    <ion-card>

      <ion-card-header>
        <h1>vendido ejemplo 2</h1>
      </ion-card-header>

      <ion-card-content>
        <img style="height: 40vh;width: 100%" src="http://amercado.com/projecto-peru/backend/proyect-sales/token/public/img/food2.jpg" alt="comida">


      </ion-card-content>

      </ion-card>




  </ion-slide>
  <ion-slide>
  

    <ion-card>

      <ion-card-header>
        <h1>vendido ejemplo 3</h1>
      </ion-card-header>

      <ion-card-content>
        <img style="height: 40vh;width: 100%" src="http://amercado.com/projecto-peru/backend/proyect-sales/token/public/img/food3.jpg" alt="comida">


      </ion-card-content>

      </ion-card>




  </ion-slide>
</ion-slides>



            
            </ion-col>
        </ion-row>


        <!-- chars -->
      <ion-row>
        <ion-col col-12>

 <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card> 



     </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-3>

          <ion-label>Reportes</ion-label>
        </ion-col>
        <ion-col col-5>
       
              <ion-select   class="lenguaje-select" 
                interface="action-sheet" okText="Ok" cancelText="Cancelar">
              <ion-option value="2">
                      Reporte diario
              </ion-option >
                <ion-option value="3">
                      Reporte mensual
              </ion-option >
              <ion-option value="4">
                      reporte mas vendido
              </ion-option >
                  
            </ion-select>


        </ion-col> 
        
           
        <ion-col col-4>  
        <button   ion-button full  >
	      Descargar
	    </button>

        </ion-col >
      

      </ion-row>



    </ion-grid>

</ion-content>
