<ion-header >
  <ion-toolbar color="primary"  >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title   >{{ 'MAP_USER' | translate }}</ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>



<ion-content padding>
   <div #map id="map"></div> 
</ion-content>
