<ion-grid>
    <ion-row>
        <ion-col ion-button full col-12 style="cursor:pointer;font-size: 0.5em"
         (click)="onSelectFile($event)" color="light" >
           {{msg}} 
        </ion-col>
    <ion-row>
    <ion-row>
        <ion-col style="font-size: 0.8em" color="danger" ion-text >{{err}}</ion-col>
    <ion-row>
<ion-grid>


