
<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'CREATE_USER' | translate }}</ion-title>
     </ion-navbar>
 </ion-toolbar>

</ion-header>




<ion-content overflow-scroll="true"  padding >
 
	<ion-grid >
		<ion-row>
          <!--<ion-col col-1></ion-col>-->
			<ion-col col-12>
                <form [formGroup]="formGroup" (ngSubmit)="onFormAction()" novalidate>

                    <!-- email -->
                    <ion-item>
                        <ion-label floating>{{ 'EMAIL' | translate }} * :</ion-label>
                        <ion-input  type="text"  formControlName="email" ></ion-input>
                    </ion-item>


                    <ion-item  *ngIf="formGroup.get('email').errors &&
                        formGroup.get('email').dirty"  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('email').hasError('required')" >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>
                        <p color="danger" style="margin-top:4px" ion-text 
                            *ngIf="formGroup.get('email').hasError('pattern')">
                                {{ 'EMAIL_FIELD' | translate }}
                        </p>
                    </ion-item>



                    <!-- name -->
                    <ion-item>
                        <ion-label floating>{{ 'NAME' | translate }} * :</ion-label>
                        <ion-input  type="text"  formControlName="name" ></ion-input>
                    </ion-item>

                    <ion-item *ngIf="formGroup.get('name').errors &&
                        formGroup.get('name').dirty" no-lines>
                     
                        <p color="danger" 
                        *ngIf="formGroup.get('name').hasError('required')" 
                        ion-text >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>

                        <p color="danger"  
                           *ngIf="formGroup.get('name').hasError('minlength')" 
                            ion-text >
                            {{ 'MIN_FIELD' | translate }} 3
                        </p>

                        <p color="danger"  
                           *ngIf="formGroup.get('name').hasError('maxlength')" 
                            ion-text >
                            {{ 'MAX_FIELD' | translate }} 255
                        </p>
                      
                    </ion-item>


 
               	<!-- surname -->
                <ion-item>
                    <ion-label floating>{{ 'SUR_NAME' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="surname" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('surname').errors &&
                formGroup.get('surname').dirty" no-lines>
                                     
                    <p color="danger" 
                    *ngIf="formGroup.get('surname').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('surname').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('surname').hasError('maxlength')" 
                        ion-text >
                        {{ 'MAX_FIELD' | translate }} 255
                    </p>

                </ion-item>



                <!-- password -->
                <ion-item>
                    <ion-label floating>{{ 'PASSWORD' | translate }} * :</ion-label>
                    <ion-input  type="password"  formControlName="password" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('password').errors &&
                    formGroup.get('password').dirty" no-lines>
                                     
                    <p color="danger" 
                    *ngIf="formGroup.get('password').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('password').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>
                </ion-item>


                <!-- CPASSWORD -->
                <ion-item>
                    <ion-label floating>{{ 'C_PASSWORD' | translate }} * :</ion-label>
                    <ion-input  type="password"  formControlName="c_password" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('c_password').errors &&
                    formGroup.get('c_password').dirty" no-lines>

                                     
                    <p color="danger" 
                    *ngIf="formGroup.get('c_password').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('c_password').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>
                </ion-item>



                <!-- tipo de rol -->
                <ion-item style="padding-bottom: 8px;padding-top: 8px">
                    <ion-label floating>{{ 'ROL' | translate }} * :</ion-label>

                      <ion-select   formControlName="rol"
                                class="lenguaje-select" 
                                interface="action-sheet" okText="Ok" cancelText="Cancelar">
                      <ion-option value="2">
                              Admin
                      </ion-option >
                        <ion-option value="3">
                              Vendedor
                      </ion-option >
                      <ion-option value="4">
                              Usuario
                      </ion-option >
                          
                    </ion-select>

                </ion-item>

                <!-- tipo de rol -->
                <ion-item style="padding-bottom: 8px;padding-top: 8px">
                    <ion-label floating>{{ 'TYPE_IDENTIFICATION' | translate }} * :</ion-label>

                      <ion-select   formControlName="documentType"
                                class="lenguaje-select" 
                                interface="action-sheet" okText="Ok" cancelText="Cancelar">

                      <ion-option value="1">
                              DNI
                      </ion-option >

                          
                    </ion-select>

                </ion-item>

                <ion-item *ngIf="formGroup.get('documentType').errors &&
                    formGroup.get('documentType').dirty" no-lines>
                    
                    <p color="danger" 
                        *ngIf="formGroup.get('documentType').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                </ion-item>



                <!-- numero de identificacion -->
                <ion-item >
                    <ion-label floating>
                        {{ 'NUMBER_IDENTIFICATION' | translate }} * ejemplo(12345678-1) :
                    </ion-label>
                    <ion-input  type="text"  formControlName="numberIdentification" ></ion-input>
                </ion-item>

                <ion-item *ngIf="formGroup.get('numberIdentification').errors &&
                    formGroup.get('numberIdentification').dirty" no-lines>
                    
                    <p color="danger" 
                       *ngIf="formGroup.get('numberIdentification').hasError('required')" 
                        ion-text>
                    	{{ 'REQUIRED_FIELD' | translate }}
                    </p>
                    <p color="danger" 
                    *ngIf="formGroup.get('numberIdentification').hasError('pattern')" ion-text >
                        {{ 'REGEX_DNI' | translate }}
                    </p>
                </ion-item>



                <ion-item>
                    <ion-label floating>{{ 'PHONE' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="phone" ></ion-input>
                </ion-item>

                <ion-item *ngIf="formGroup.get('phone').errors &&
                    formGroup.get('phone').dirty"no-lines>
                    
                    <p color="danger" 
                        *ngIf="formGroup.get('phone').hasError('required')" 
                        ion-text>
                    	{{ 'REQUIRED_FIELD' | translate }}
                    </p>
                    <p color="danger" 
                    *ngIf="formGroup.get('phone').hasError('pattern')" ion-text >
                        {{ 'REGEX_PHONE' | translate }}
                    </p>

                </ion-item>



                <!-- select region -->
                <ion-item style="padding-bottom: 8px;padding-top: 8px">
                    <ion-label floating>{{ 'REGION' | translate }} * :</ion-label>

                    <ion-select   (ionChange)="onProvinceSelect($event)" 
                         formControlName="region"
                                class="lenguaje-select" 
                             okText="Ok" cancelText="Cancelar">
                          <ion-option *ngFor="let i of regions" [value]="i.id">{{i.name}}</ion-option>
              		</ion-select>
                </ion-item>

                <ion-item *ngIf="formGroup.get('region').errors &&
                    formGroup.get('region').dirty" no-lines>
                    <p color="danger" 
                        *ngIf="formGroup.get('region').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                </ion-item>



                <!-- province -->
                <ion-item  >
                    <ion-label floating>{{ 'PROVINCE' | translate }} * :</ion-label>

                    <ion-select  [(ngModel)]="province" 
                        name="province" formControlName="province"
                                class="lenguaje-select" 
                             okText="Ok" cancelText="Cancelar" >
                          <ion-option *ngFor="let i of provinces" [value]="i.id">{{i.name}}</ion-option>
              		</ion-select>

                </ion-item>
                
                <ion-item *ngIf="formGroup.get('province').errors &&
                    formGroup.get('province').dirty" no-lines>
                    <p color="danger" 
                        *ngIf="formGroup.get('province').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                </ion-item>


                <!-- distrite -->
                <ion-item  >
                    <ion-label floating>{{ 'DISTRITE' | translate }}  :</ion-label>

                    <ion-input  type="text"  formControlName="distrite" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('distrite').errors &&
                    formGroup.get('distrite').dirty" no-lines>
                     
                    <p color="danger"  
                       *ngIf="formGroup.get('distrite').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 3
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('distrite').hasError('maxlength')" 
                        ion-text >
                        {{ 'MAX_FIELD' | translate }} 255
                    </p>


                </ion-item>


                <!-- file chooser imagen -->
                <ion-item > 
                    <file-chooser  msg="{{nameFileUpdate}}"  (states)="valuesFileChooser($event)"></file-chooser>
                </ion-item>

    
                <div style="margin-top: 20px">
                    <button ion-button full 
                        [disabled]="formGroup.invalid || validImagen == false"
                        ion-button block type="submit" >
                        {{ 'SAVE' | translate }}
                    </button> 
                </div>


                
                </form>
            </ion-col>
            <!--<ion-col col-1></ion-col>-->
        </ion-row>
    </ion-grid>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
