<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title   style="position:inherit">login</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding class="padding">

<ion-grid>
   <ion-row>
            <ion-col col-1>
            </ion-col>   
            <ion-col col-10>
                <img style="margin-left: auto;margin-right: auto;display: block;" 
                src="assets/img/amercado.png" alt="img logo"/>
            </ion-col> 
            <ion-col col-1>
            </ion-col>  
        </ion-row>


        <!-- row-->
        <ion-row>
            <ion-col col-1>
            </ion-col>   
            <ion-col col-10 style="color:#df3c45;text-align:center">
                Todas las compras en un clic
            </ion-col> 
            <ion-col col-1>
            </ion-col>  
        </ion-row>


      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>

            <ion-list>

            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>

                <ion-item>
                    <ion-label floating>{{ 'EMAIL' | translate }} * :</ion-label>
                    <ion-input  type="text" formControlName="email" ></ion-input>
                </ion-item>
                
                <ion-item  *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty" no-lines>
                    <p color="danger" ion-text 
                    *ngIf="loginForm.get('email').hasError('required') && isOnLogin" >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                    <p color="danger" style="margin-top:4px" ion-text 
                        *ngIf="loginForm.get('email').hasError('pattern')">
                            {{ 'EMAIL_FIELD' | translate }}
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label floating>{{ 'PASSWORD' | translate }} * :</ion-label>
                    <ion-input formControlName="password" type="password" ></ion-input>
                </ion-item>
                <ion-item *ngIf="loginForm.get('password').errors && 
                        loginForm.get('password').dirty" no-lines>
                    <p color="danger" 
                    *ngIf="loginForm.get('password').hasError('required') && isOnLogin" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="loginForm.get('password').hasError('minlength') && isOnLogin" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 3
                    </p>
                </ion-item>

                <div style="margin-top: 20px">
                    <button ion-button full
                        ion-button block type="submit" [disabled]="loginForm.invalid && isOnLogin">
                        Loggear
                    </button> 
                </div>
            </form>


                <!-- select idioma -->
                <ion-row style="margin-top: 20px" >
                    <ion-col col-2> 
                        <span style="font-size:2.2em" 
                            class="flag-icon flag-icon-{{flangLang}}"></span>
                        
                    </ion-col>
                    <ion-col col-10>
                    
                    <ion-item>
                      <ion-select  [(ngModel)]="lang" 
                                (ionChange)="onLenguajeSelect($event)"   
                                class="lenguaje-select" 
                                interface="action-sheet" okText="Ok" cancelText="Cancelar">
                          <ion-option value="es">
                              Español
                          </ion-option >
                          
                         <ion-option value="en">
                             Ingles
                         </ion-option>
                      </ion-select>

                    </ion-item>


                    </ion-col>

                </ion-row>
                <!-- end select -->

            </ion-list>

        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>
   
</ion-grid>

<!--  botonera asociada a cosas de user -->
<ion-grid>
    <ion-row>
        <ion-col col-6>
            <p text-left>
                <a href="javascript:void(0)"  (click)="goCreateUser($event)"
                    style="text-decoration:none" >{{ 'CREATE_USER' | translate }}</a>
            </p>
        </ion-col>

        <ion-col col-6>
            <p   text-right>
                <a href="javascript:void(0)" (click)="goValidateUser($event)"
                    style="text-decoration:none">{{ 'VALIDATE_ACCOUNT' | translate }}</a>
            </p>
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col col-6>
            <p text-left>
                <a href="javascript:void(0)"  (click)="goForgotterPassword($event)"
                    style="text-decoration:none" >{{ 'FORGOTTER_PASSWORD' | translate }}</a>
            </p>
        </ion-col>
 
        <ion-col col-6>
            <p text-right>
                <a href="javascript:void(0)"  (click)="goRecuperateAccount($event)"
                    style="text-decoration:none" >{{ 'RECUPERATE_ACCOUNT' | translate }}</a>
            </p>
        </ion-col>
       
    </ion-row>
</ion-grid>
        
</ion-content>
