<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'CREATE_TRANSPORT' | translate }}</ion-title>
     </ion-navbar>
 </ion-toolbar>

</ion-header>


<ion-content overflow-scroll="true"  padding>



<ion-grid >
		<ion-row>
          <!--<ion-col col-1></ion-col>-->
			<ion-col col-12>
                <form [formGroup]="formGroup" (ngSubmit)="onFormAction()" novalidate>

                   
                <!-- name -->
                <ion-item>
                    <ion-label floating>{{ 'NAME' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="name" ></ion-input>
                </ion-item>

                <ion-item *ngIf="formGroup.get('name').errors &&
                    formGroup.get('name').dirty" no-lines>
                 
                    <p color="danger" 
                    *ngIf="formGroup.get('name').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('name').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 3
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('name').hasError('maxlength')" 
                        ion-text >
                        {{ 'MAX_FIELD' | translate }} 255
                    </p>
                  
                </ion-item>



                <!-- delay -->
                <ion-item>
                  <ion-label floating>{{ 'DELAY' | translate }}  :</ion-label>
                    <ion-input formControlName="delay" type="number">
                    </ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('delay').errors &&
                    formGroup.get('delay').dirty"  no-lines>
                    
                    <p color="danger" ion-text 
                    *ngIf="formGroup.get('delay').hasError('len')" >
                        {{ 'INVALID_NUMBER_FORMAT' | translate }}
                        {{ 'MAX_FIELD' | translate }} 15                             
                    </p>
                    
                </ion-item>


                <!-- select active -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'ACTIVE' | translate }} :</ion-label>
                    <ion-select  
                         formControlName="active"
                             okText="Ok" cancelText="Cancelar">
                    <ion-option value="true" selected>Activo</ion-option >
                   <ion-option value="false">Inactivo</ion-option >
                    </ion-select>
                </ion-item>


                <!-- select free_sending -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'FREE_SENDING' | translate }} :</ion-label>
                    <ion-select  
                         formControlName="free_sending"
                             okText="Ok" cancelText="Cancelar">
                    <ion-option value="0" selected>Si</ion-option >
                   <ion-option value="1">No</ion-option >
                    </ion-select>
                </ion-item>

                <!-- select free_sending -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'LOGO' | translate }} :</ion-label>
                    <ion-select  
                         formControlName="logo"
                             okText="Ok" cancelText="Cancelar">
                    <ion-option value="1" selected>2</ion-option >
                   <ion-option value="2">1</ion-option >
                    </ion-select>
                </ion-item>


                <!-- tracing -->
                <ion-item>
                    <ion-label floating>{{ 'TRACING' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="tracing" ></ion-input>
                </ion-item>

                <ion-item *ngIf="formGroup.get('tracing').errors &&
                    formGroup.get('name').dirty" no-lines>

                    <p color="danger"  
                       *ngIf="formGroup.get('tracing').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 3
                    </p>

                    <p color="danger"  
                       *ngIf="formGroup.get('tracing').hasError('maxlength')" 
                        ion-text >
                        {{ 'MAX_FIELD' | translate }} 255
                    </p>
                  
                </ion-item>



                <!-- select tax -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'TAX' | translate }} :</ion-label>
                    <ion-select  
                         formControlName="tax"
                             okText="Ok" cancelText="Cancelar">
                    <ion-option value="1" selected>Si</ion-option >
                   <ion-option value="0">No</ion-option >
                    </ion-select>
                </ion-item>


                <!-- select tax -->
                <ion-item style="padding-bottom: 8px; padding-top: 8px">
                    <ion-label floating>{{ 'BILLING_TYPE' | translate }} :</ion-label>
                    <ion-select  
                         formControlName="billing_type"
                             okText="Ok" cancelText="Cancelar">
                    <ion-option value="1" selected>De acuerdo con el precio total</ion-option >
                   <ion-option value="2">De acuerdo con el peso total</ion-option >
                    </ion-select>
                </ion-item>


                <!-- weight_tax_max -->
                <ion-item>
                  <ion-label floating>{{ 'WEIGTH_TAX_MAX' | translate }}  :</ion-label>
                    <ion-input formControlName="weight_tax_max" type="number">
                    </ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('weight_tax_max').errors &&
                    formGroup.get('weight_tax_max').dirty"  no-lines>
                    
                    <p color="danger" ion-text 
                    *ngIf="formGroup.get('weight_tax_max').hasError('len')" >
                        {{ 'INVALID_NUMBER_FORMAT' | translate }}
                        {{ 'MAX_FIELD' | translate }} 15                             
                    </p>
                    
                </ion-item>


                <!-- weight_tax_min -->
                <ion-item>
                  <ion-label floating>{{ 'WEIGTH_TAX_MIN' | translate }}  :</ion-label>
                    <ion-input formControlName="weight_tax_min" type="number">
                    </ion-input>
                </ion-item>

                <ion-item  *ngIf="formGroup.get('weight_tax_min').errors &&
                    formGroup.get('weight_tax_min').dirty"  no-lines>
                    
                    <p color="danger" ion-text 
                    *ngIf="formGroup.get('weight_tax_min').hasError('len')" >
                        {{ 'INVALID_NUMBER_FORMAT' | translate }}
                        {{ 'MAX_FIELD' | translate }} 15                             
                    </p>
                    
                </ion-item>





                <!-- width_package -->
                <ion-item>
                  <ion-label floating>{{ 'WIDTH_PACKAGE' | translate }}  :</ion-label>
                    <ion-input formControlName="width_package" type="number">
                    </ion-input>
                </ion-item>



                <!-- high_package -->

                <ion-item>
                  <ion-label floating>{{ 'HIGH_PACKAGE' | translate }}  :</ion-label>
                    <ion-input formControlName="high_package" type="number">
                    </ion-input>
                </ion-item>


                <!-- long_package -->
                <ion-item>
                  <ion-label floating>{{ 'LONG_PACKAGE' | translate }}  :</ion-label>
                    <ion-input formControlName="long_package" type="number">
                    </ion-input>
                </ion-item>



                <!-- weight_package -->
                <ion-item>
                  <ion-label floating>{{ 'WEIGHT_PACKAGE' | translate }}  :</ion-label>
                    <ion-input formControlName="weight_package" type="number">
                    </ion-input>
                </ion-item>



                <div style="margin-top: 20px">
                    <button ion-button full 
                        [disabled]="formGroup.invalid || validImagen == false"
                        ion-button block type="submit" >
                        {{ 'SAVE' | translate }}
                    </button> 
                </div>


                
                </form>
            </ion-col>
            <!--<ion-col col-1></ion-col>-->
        </ion-row>
    </ion-grid>









</ion-content>
