<ion-header >
  <ion-toolbar color="primary"  >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title   >{{ 'PARAMETERS' | translate }}</ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <ion-grid >
		<ion-row *ngFor="let data of listData" >
          <!--<ion-col col-1></ion-col>-->
			<ion-col col-12>
              <ion-item  style="padding-bottom: 20px; padding-top: 8px">
 
                <ion-label floating> {{data.name}} :</ion-label>
                
                <ion-select [(ngModel)]="data.active"
                  (ionChange)="onParamStateSelect($event, data)"
                    okText="Ok" cancelText="Cancelar">
                   <ion-option value="1" selected>Activo</ion-option >
                   <ion-option value="0">Inactivo</ion-option >
                  </ion-select>
              </ion-item>
                            
              </ion-col>
          </ion-row>
  </ion-grid>



</ion-content>
