<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="width: inherit;" >{{ 'ASSOCIATE' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="closeDialog()" >
    	<ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
 </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header  style="margin-bottom: 5px;border-style:solid;
      border:0; border-bottom: 1px solid #333;">
      <h2>Carrito</h2>
    </ion-card-header>


     <div *ngIf="dataList.length === 0">
        <ion-card-content >
          No hay itenes seleccionados
        </ion-card-content>
     </div>


    <div *ngIf=" dataList.length !== 0">

    <ion-card-content *ngFor="let data of dataList; let i = index">
      <ion-list   >


      <ion-item>
          <ion-row>
            <ion-col col-8>
              nombre: {{data.item.name}}
            </ion-col>
            <ion-col style="text-align: right;" col-4>
              <ion-icon name="close" color="primary" style="font-size: 1.4em" 
                (click)="onDeleteItem(data)"></ion-icon>
            </ion-col>
          </ion-row>

          
          <ion-row>
            <ion-col>
                      
            <img style="max-height: 100px" src="{{resolveImagenProduct(data.item.img)}}" />

            </ion-col>
          </ion-row>

        </ion-item>

         </ion-list>



     <ion-item>
          <ion-label >Precio : {{data.item.price.amount * 1}}</ion-label>
        
        </ion-item>


           <ion-item>
          <ion-label stacked>Cantidad</ion-label>
          <ion-input name="some-input" type="text" [(ngModel)]="data.amount"
            value="{{data.amount}}" ></ion-input>
        </ion-item>
        
        <br/>
        <ion-item>
          <ion-label > {{ 'TOTAL_PUSTCHASE' | translate }} : {{data.total * 1}}</ion-label>
        </ion-item>
     
    </ion-card-content>

  </div>


  </ion-card>


  <!--end for -->


</ion-content>



<ion-footer>
  <button ion-button full color="blueTheme" ion-button block
    (click)="onClickPayment()"  [disabled]="dataList.length === 0" >
              Total a pagar: {{totalPurchase}}
  </button> 
</ion-footer>



<!-- <ion-item>
                                  <button ion-button full color="blueTheme"
                               
                            ion-button block  >
                            add al carrito
                        </button> 
        </ion-item>
-->