<ion-header>

  <ion-navbar  color="primary">
      <ion-buttons left>
        <button ion-button (click)="goLogin()" >
          <ion-icon style="zoom:2.0;" name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{ 'FORGOTTER_PASSWORD' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
            <ion-col col-10>
                
                <ion-list>
					<form [formGroup]="formGroup" (ngSubmit)="onSerndEmailForggoten()" novalidate>
                    
                    
                    <ion-item>
                        <ion-label floating>{{ 'EMAIL' | translate }} * :</ion-label>
                        <ion-input  type="text"  formControlName="email" ></ion-input>
                    </ion-item>
                    
                    <ion-item  *ngIf="formGroup.get('email').errors &&
                        formGroup.get('email').dirty"  no-lines>
                        
                        <p color="danger" ion-text 
                        *ngIf="formGroup.get('email').hasError('required') && isOnLogin" >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>
                        <p color="danger" style="margin-top:4px" ion-text 
                            *ngIf="formGroup.get('pattern').hasError('email')">
                                {{ 'EMAIL_FIELD' | translate }}
                        </p>
                    </ion-item>

                    	<div style="margin-top: 20px">
		                    <button ion-button full 
                                [disabled]="formGroup.invalid"
		                        ion-button block type="submit" >
		                        {{ 'SEND' | translate }}
		                    </button> 
		                </div>

                    </form>
                </ion-list>

            
            </ion-col>
            <ion-col col-1></ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
