
<ion-list-header color="primary">Filtros</ion-list-header>
<ion-list>
	<ion-searchbar placeholder="{{ 'SEARCH' | translate }}"
     (keyup)="valuechangeSearch($event)" [(ngModel)]="searchQuery">
	</ion-searchbar>

</ion-list>

<ion-list>
  <ion-item>
    <ion-label>{{ 'CATEGORY' | translate }}</ion-label>
    <ion-select [(ngModel)]="itemCategory"
          (ionChange)="onStateStateSelect($event)"
           class="lenguaje-select" 
           okText="Ok" cancelText="Cancelar">
      <ion-option *ngFor="let i of listDataCategory" [value]="i.id">{{i.name}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list> 


