
<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'ASSOCIATE' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="openModalItems()" >
     <ion-icon name="md-add-circle">
     </ion-icon> &nbsp;
     <!--{{ 'ADD_ASSOCIATE' | translate }}-->

    </button>
  </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row>

		<ion-card>
			<ion-card-header>
    			<h1></h1>
  			</ion-card-header>
			<ion-card-content>
              <!--<ion-col col-1></ion-col>-->
				<ion-col col-12>
				
					<form [formGroup]="formGroup" novalidate>


	                    <!-- name -->
	                    <ion-item>
	                        <ion-label floating>{{ 'NAME' | translate }} * :</ion-label>
	                        <ion-input  type="text"  formControlName="name" clearInput></ion-input>
	                    </ion-item>


	                    <ion-item  *ngIf="formGroup.get('name').errors &&
	                        formGroup.get('name').dirty "  no-lines>
	                        
	                        <p color="danger" ion-text 
	                        *ngIf="formGroup.get('name').hasError('required')" >
	                            {{ 'REQUIRED_FIELD' | translate }}
	                        </p>
	                        
	                        <p color="danger"  
	                           *ngIf="formGroup.get('name').hasError('minlength')" 
	                            ion-text >
	                            {{ 'MIN_FIELD' | translate }} 3
	                        </p>

	                        <p color="danger"  
	                           *ngIf="formGroup.get('name').hasError('maxlength')" 
	                            ion-text >
	                            {{ 'MAX_FIELD' | translate }} 255
	                        </p>

	                        
	                    </ion-item>


	                 <!-- description -->
	                    <ion-item>
	                        <ion-label floating>{{ 'DESCRIPTION' | translate }} * :</ion-label>
	                        <ion-textarea formControlName="description" ></ion-textarea>
	                    </ion-item>


	                    <ion-item  *ngIf="formGroup.get('description').errors &&
	                        formGroup.get('description').dirty"  no-lines>
	                        
	                        <p color="danger" ion-text 
	                        *ngIf="formGroup.get('description').hasError('required')" >
	                            {{ 'REQUIRED_FIELD' | translate }}
	                        </p>
	                        
	                        <p color="danger"  
	                           *ngIf="formGroup.get('description').hasError('minlength')" 
	                            ion-text >
	                            {{ 'MIN_FIELD' | translate }} 6
	                        </p>

	                        <p color="danger"  
	                           *ngIf="formGroup.get('description').hasError('maxlength')" 
	                            ion-text >
	                            {{ 'MAX_FIELD' | translate }} 1024
	                        </p>
	                        
	                    </ion-item>


	                    
	                  
					</form>

				</ion-col>
                <!--<ion-col col-1></ion-col>-->
				</ion-card-content>
			</ion-card>
		</ion-row>

		<ion-row>
			<ion-card>
				<ion-col col-1></ion-col>
				<ion-col col-10>
					<ion-card-title style="text-align: center;margin-bottom: 10px">
						{{ 'ADD_ASSOCIATE' | translate }}
					</ion-card-title>
					<ion-card-content style="text-align: center;">


						<ng-container *ngIf="listData.length === 0" >
							{{ 'NOT_SELECTED_ITEM' | translate }}

						</ng-container>



						<ng-container *ngIf="listData.length !== 0">
					      <ion-list>
					        <button ion-item *ngFor="let data  of listData; let i = index"  
					            (press)="itemPressed( i )">

        							{{data.name}},
					          <ng-container *ngIf="data.price === undefined">
					            Precio : 0.0 , 
					          </ng-container>
					          <ng-container *ngIf="data.price !== undefined">
					            Precio: {{data.price.amount}}, 
					          </ng-container>
					          <ng-container *ngIf="data.active === 1">
					              Estado: Activo
					          </ng-container>
					          <ng-container *ngIf="data.active === 0">
					              Estado Inactivo
					          </ng-container>

					        </button>
     					  </ion-list>

						</ng-container>

				    	<button ion-button color="secondary" 
                            style="width: 94%; margin: auto; margin-top: 20px;"    
                 (click)="openModalItems()"  ion-button block block>
                {{ 'ADD' | translate }}
	            </button> 
						
				</ion-card-content>
				</ion-col>
				<ion-col col-1></ion-col>
			</ion-card>



		</ion-row>


                <div style="margin-top: 20px">
                    <button ion-button full 
                        [disabled]="formGroup.invalid " (click)="onFormAction()"
                        ion-button block  >
                        {{ 'SAVE' | translate }}
                    </button> 
                </div>

	</ion-grid>

</ion-content>
