<ion-header >
  <ion-toolbar color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PRODUCTS' | translate }}</ion-title>
  </ion-navbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-searchbar placeholder="{{ 'SEARCH' | translate }}" 
        (keyup)="valuechangeSearch($event)" [(ngModel)]="searchQuery" >
        </ion-searchbar>
    </ion-row>
  </ion-grid>



  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="{{ 'PULL_REFRESH' | translate }}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'LOADING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>




  <ng-container *ngIf="listData.length === 0">
 
	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col style="text-align: center;margin-top: 20px;" col-10>
              {{ 'NO_FOUND_PRODUCTS' | translate }}
            </ion-col>
	        <ion-col col-1></ion-col>
        </ion-row>
    </ion-grid>

  </ng-container>

  <ng-container *ngIf="listData.length !== 0">
      
      <ion-list>
        <button ion-item *ngFor="let data of listData"  
          (press)="itemPressed(data)"  (tap)="itemTapped(data)">

        <ion-thumbnail *ngIf="data.img !== undefined " item-left>
           <img img-cache img-cache-src="{{baseImg}}{{data.img}}" />
        </ion-thumbnail>
   
   
          <ion-thumbnail item-left *ngIf="data.img === undefined ">
           <img img-cache img-cache-src="{{defaulImg}}" />
        </ion-thumbnail>
    


          <h2><b>{{ 'NAME' | translate }}:</b> {{data.name}}</h2>

          <!-- if price -->
          <ng-container *ngIf="data.price === undefined">
            <b>{{ 'PRICE' | translate }}:</b>  0.0 <br/>
          </ng-container>
          <ng-container *ngIf="data.price !== undefined">
            <b>{{ 'PRICE' | translate }}:</b> {{data.price.amount}} <br/>
          </ng-container>
          <!--end condition -->

          <ng-container *ngIf="data.category !== undefined ">
              <b>{{ 'CATEGORY' | translate }}:</b> {{data.category.category_name}} <br/>
              <b>{{ 'SUB-CATEGORY' | translate }}:</b> {{data.category.subcategory_name}} <br/>
          </ng-container>
           
                     
          <ng-container *ngIf="data.active === 1">
              <b>Estado:</b> Activo
          </ng-container>
          <ng-container *ngIf="data.active === 0">
              <b>Estado:</b> Inactivo
          </ng-container>

    
           </button>  
      </ion-list>

  </ng-container>
 

  <ion-fab right bottom>
    <button (click)="addResource()" ion-fab color="grenTheme" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
