<!--
  Generated template for the PrivacyPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
      <ion-title>{{ 'PRIVACY_POLICY' | translate}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-slides style="height: auto" pager>

  <ion-slide>
    
	<ion-grid  style="margin-bottom:50px">
    

        <!-- row imagen -->
        <ion-row>
            <ion-col col-1>
            </ion-col>   
            <ion-col col-10>
                <img style="margin-left: auto;margin-right: auto;
                     display: block;margin-bottom:10px" 
                src="assets/img/amercado.png" alt="img logo"/>
            </ion-col> 
            <ion-col col-1>
            </ion-col>  
        </ion-row>



		<ion-row>
          	            
            <ion-col col-12>
                
                <h1 style="text-align:left;font-size:0.8em" >
                    POLÍTICAS DE PRIVACIDAD Y USO DE DATOS PERSONALES
                </h1>
                <h2  style="text-align:left;font-size:0.8em;margin-top:16px">
                    GENERALIDADES
                </h2>
                <div  style="text-align:left;font-size:0.8em;">
                    <b>AMERCADO S.A.C.</b> (en adelante  <b>AMERCADO</b>) se preocupara por
                    mantener la reserva y protección de los datos personales de sus clientes brindados
                    en La plataforma virtual, de conformidad con lo establecido en la Ley N° 29733
                    Ley de Protección de Datos Personales y su Reglamento, aprobado por Decreto
                    Supremo 003-2013-JUS.
                </div>
                <h2  style="text-align:left;font-size:0.8em;margin-top:16px">
                    OBJETIVO
                </h2>
                <div style="text-align:left;font-size:0.8em">
                    La presente Política de Uso de datos personales expresa como recolectamos,
                    utilizamos y divulgamos su información personal. También explica cómo hacer
                    uso de tus derechos ARCO (Acceso, Rectificación, Cancelación y Oposición)
                    previstos en la Normativa de Protección de Datos Personales. Al hacer uso de
                    los servicios de La plataforma virtual usted está aceptando las prácticas aquí
                    descritas.
                </div>
                <h2 style="text-align:left;font-size:0.8em;margin-top:16px">
                    INFORMACIÓN
                </h2>
                <div style="text-align:left;font-size:0.8em">
                    Se informa que los datos personales proporcionados a 
                    <b>AMERCADO</b> con motivo del uso de los servicios de La plataforma virtual quedan
                    incorporados al Banco de Datos de Clientes de <b>AMERCADO</b>.
                </div>
                <div style="text-align:left;font-size:0.8em">
                    Se informa a los usuarios que ingresaron sus datos en el Formulario de Reclamaciones
                    que estos datos serán tratados solo para gestionar sus mensajes y poder contactarlos
                    a fin de resolver los mismos; y se regirán por lo expuesto en esta Política en lo que
                    resulte aplicable.
                </div>
	            <h2 style="text-align:left;font-size:0.8em;margin-top:16px">
                    FINALIDAD
                </h2>
                <div style="text-align:left;font-size:0.8em">
                    <b>AMERCADO</b> utilizará sus datos personales para efectos de la gestión de 
                    productos y/o servicios solicitados y/o contratados, incluyendo procesamiento 
                    de datos, remisión de correspondencia, otorgamiento de productos y/o servicios
                    relacionados con la utilización de La plataforma virtual, la misma que podrá ser
                    realizada a través de terceros.
                </div>
                <h2  style="text-align:left;font-size:1em;margin-top:16px">
                    TRATAMIENTO Y TRANSFERENCIA DE LOS DATOS
                </h2>
                <div  style="text-align:left,font-size:0.8em">
                    Asimismo, el titular de los datos personales autoriza a <b>AMERCADO</b> a tratar ,
                    sus datos personales, que hubieran sido proporcionados directamente a <b>AMERCADO</b>,
                    aquellos que pudieran encontrarse en fuentes accesibles para el público o los
                    que hayan sido obtenidos de terceros; para finalidades que supongan desarrollo de
                    acciones comerciales, incluyendo la realización de estudios de mercado, elaboración
                    de perfiles de compra, la remisión, directa o por intermedio de terceros 
                    (vía medio físico, electrónico o telefónico) de publicidad, información,
                    obsequios, ofertas y/o promociones (personalizadas o generales) de productos y/o
                    servicios de <b>AMERCADO</b> y sus socios estratégicos.
                </div>
                <div style="text-align:left;font-size:0.8em">
                    Para tales efectos, el titular de los datos personales autoriza a <b>AMERCADO</b>
                    la cesión, transferencia o comunicación de sus datos personales, para finalidades
                    idénticas a las antes indicadas.
                </div>
                <div style="font-size:0.8em;">
                    De no proporcionar esta autorización, <b>AMERCADO</b> no podrá realizar las actividades
                    descritas precedentemente. <b>AMERCADO</b> conservará tu información personal por el
                    período necesario para cumplir las finalidades descritas en esta Política y en
                    tanto tu autorización no sea revocada.
                </div>
            
            </ion-col>
            


        </ion-row>
             </ion-grid>







      
  </ion-slide>
  <!--end slider 1 -->

</ion-slides>


<ion-grid>
 <ion-row>
  <ion-col col-6>
      <button ion-button color="danger" (click)="onReject($event)" full>
        {{ 'REJECT' | translate }}
      </button>
  </ion-col>
  <ion-col col-6>
      <button ion-button color="secondary" (click)="onAcept($event)" full>
          {{ 'ACCEPT' | translate }}
      </button>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
