
<ion-header>

  <ion-navbar  color="primary" >
      

  <ion-buttons left>
    <button ion-button (click)="goLogin()" >
      <ion-icon style="zoom:2.0;" name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>
       
    <ion-title>{{ 'PRODUCTS' | translate }}</ion-title>

  </ion-navbar>


</ion-header>


<ion-content overflow-scroll="true"  padding>

	<ion-grid>
		<ion-row>
		  <!--	<ion-col col-1></ion-col>  -->
			<ion-col col-12>
				<ion-list>
					<form [formGroup]="loginForm" (ngSubmit)="onCreatUser()" novalidate>

				<!-- email -->
                <ion-item>
                    <ion-label floating>{{ 'EMAIL' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="email" ></ion-input>
                </ion-item>
                
                <ion-item  *ngIf="loginForm.get('email').errors &&
                    loginForm.get('email').dirty"  no-lines>
                    
                    <p color="danger" ion-text 
                    *ngIf="loginForm.get('email').hasError('required') && isOnLogin" >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                    <p color="danger" style="margin-top:4px" ion-text 
                        *ngIf="loginForm.get('email').hasError('pattern')">
                            {{ 'EMAIL_FIELD' | translate }}
                    </p>
                </ion-item>


                <!-- name -->
                <ion-item>
                    <ion-label floating>{{ 'NAME' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="name" ></ion-input>
                </ion-item>

                <ion-item *ngIf="loginForm.get('name').errors &&
                    loginForm.get('name').dirty" no-lines>
                 
                    <p color="danger" 
                    *ngIf="loginForm.get('name').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="loginForm.get('name').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 3
                    </p>

                    <p color="danger"  
                       *ngIf="loginForm.get('name').hasError('maxlength')" 
                        ion-text >
                        {{ 'MAX_FIELD' | translate }} 3
                    </p>
                  
                </ion-item>


             
               	<!-- surname -->
                <ion-item>
                    <ion-label floating>{{ 'SUR_NAME' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="surname" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="loginForm.get('surname').errors &&
                    loginForm.get('surname').dirty" no-lines>
                                         
                        <p color="danger" 
                        *ngIf="loginForm.get('surname').hasError('required')" 
                        ion-text >
                            {{ 'REQUIRED_FIELD' | translate }}
                        </p>

                        <p color="danger"  
                           *ngIf="loginForm.get('surname').hasError('minlength')" 
                            ion-text >
                            {{ 'MIN_FIELD' | translate }} 4
                        </p>

                        <p color="danger"  
                           *ngIf="loginForm.get('surname').hasError('maxlength')" 
                            ion-text >
                            {{ 'MAX_FIELD' | translate }} 255
                        </p>

                    </ion-item>

                <!-- password -->
                <ion-item>
                    <ion-label floating>{{ 'PASSWORD' | translate }} * :</ion-label>
                    <ion-input  type="password"  formControlName="password" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="loginForm.get('password').errors &&
                loginForm.get('password').dirty" no-lines>
                            
                    <p color="danger" 
                    *ngIf="loginForm.get('password').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="loginForm.get('password').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>
                </ion-item>


                <!-- CPASSWORD -->
                <ion-item>
                    <ion-label floating>{{ 'C_PASSWORD' | translate }} * :</ion-label>
                    <ion-input  type="password"  formControlName="c_password" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="loginForm.get('c_password').errors &&
                loginForm.get('c_password').dirty" no-lines>
                                     
                    <p color="danger" 
                    *ngIf="loginForm.get('c_password').hasError('required')" 
                    ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                    <p color="danger"  
                       *ngIf="loginForm.get('c_password').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 4
                    </p>
                </ion-item>


                <!-- tipo de identificacion -->
                <ion-item style="padding-bottom: 8px;padding-top: 8px">
                    <ion-label floating>{{ 'TYPE_IDENTIFICATION' | translate }} * :</ion-label>

                      <ion-select  [(ngModel)]="documentType" formControlName="documentType"
                                class="lenguaje-select" 
                                interface="action-sheet" okText="Ok" cancelText="Cancelar">
                      <ion-option value="1">
                              DNI
                      </ion-option >
                          
              		</ion-select>

                </ion-item>

                <ion-item *ngIf="loginForm.get('documentType').errors &&
                    loginForm.get('documentType').dirty" no-lines>
                    
                    <p color="danger" 
                        *ngIf="loginForm.get('documentType').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>

                </ion-item>




                <!-- numero de identificacion -->
                <ion-item >
                    <ion-label floating>
                        {{ 'NUMBER_IDENTIFICATION' | translate }} * ejemplo(12345678-1) :
                    </ion-label>
                    <ion-input  type="text"  formControlName="numberIdentification" ></ion-input>
                </ion-item>

                <ion-item *ngIf="loginForm.get('numberIdentification').errors &&
                    loginForm.get('numberIdentification').dirty" no-lines>
                    
                    <p color="danger" 
                       *ngIf="loginForm.get('numberIdentification').hasError('required')" 
                        ion-text>
                    	{{ 'REQUIRED_FIELD' | translate }}
                    </p>
                    <p color="danger" 
                    *ngIf="loginForm.get('numberIdentification').hasError('pattern')" ion-text >
                        {{ 'REGEX_DNI' | translate }}
                    </p>
                </ion-item>



                <ion-item>
                    <ion-label floating>{{ 'PHONE' | translate }} * :</ion-label>
                    <ion-input  type="text"  formControlName="phone" ></ion-input>
                </ion-item>

                <ion-item *ngIf="loginForm.get('phone').errors &&
                    loginForm.get('phone').dirty"no-lines>
                    
                    <p color="danger" 
                        *ngIf="loginForm.get('phone').hasError('required')" 
                        ion-text>
                    	{{ 'REQUIRED_FIELD' | translate }}
                    </p>
                    <p color="danger" 
                    *ngIf="loginForm.get('phone').hasError('pattern')" ion-text >
                        {{ 'REGEX_PHONE' | translate }}
                    </p>

                </ion-item>
            
            

                <!-- select REGION -->
                <ion-item style="margin-top:20px">
                    <ion-label floating>{{ 'REGION' | translate }} * :</ion-label>

                    <ion-select  [(ngModel)]="region" (ionChange)="onProvinceSelect($event)" 
                         formControlName="region"
                                class="lenguaje-select" 
                             okText="Ok" cancelText="Cancelar">
                          <ion-option *ngFor="let i of regions" [value]="i.id">{{i.name}}</ion-option>
              		</ion-select>
                </ion-item>

                <ion-item *ngIf="loginForm.get('region').errors &&
                    loginForm.get('region').dirty" no-lines>
                    <p color="danger" 
                        *ngIf="loginForm.get('region').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                </ion-item>



                <!-- province -->
                <ion-item style="margin-top:20px" >
                    <ion-label floating>{{ 'PROVINCE' | translate }} * :</ion-label>

                    <ion-select  [(ngModel)]="province" 
                        name="province" formControlName="province"
                                class="lenguaje-select" 
                             okText="Ok" cancelText="Cancelar" >
                          <ion-option *ngFor="let i of provinces" [value]="i.id">{{i.name}}</ion-option>
              		</ion-select>

                </ion-item>
                
                <ion-item *ngIf="loginForm.get('province').errors &&
                    loginForm.get('province').dirty" no-lines>
                    <p color="danger" 
                        *ngIf="loginForm.get('province').hasError('required')" 
                        ion-text >
                        {{ 'REQUIRED_FIELD' | translate }}
                    </p>
                </ion-item>


                <!-- end province -->

                <!-- distrite -->
                <ion-item  >
                    <ion-label floating>{{ 'DISTRITE' | translate }}*  :</ion-label>
                    <ion-input  type="text"  formControlName="distrite" ></ion-input>
                </ion-item>

                <ion-item  *ngIf="loginForm.get('distrite').errors &&
                    loginForm.get('distrite').dirty" no-lines>
                     
                    <p color="danger"  
                       *ngIf="loginForm.get('distrite').hasError('minlength')" 
                        ion-text >
                        {{ 'MIN_FIELD' | translate }} 3
                    </p>

                    <p color="danger"  
                       *ngIf="loginForm.get('distrite').hasError('maxlength')" 
                        ion-text >
                        {{ 'MAX_FIELD' | translate }} 255
                    </p>


                </ion-item>


                
                <ion-item > 
                    <file-chooser 
                      (states)="valuesFileChooser($event)"></file-chooser>
                </ion-item>

		                <div style="margin-top: 20px">
		                    <button ion-button full 
                                [disabled]="loginForm.invalid || validImagen == false"
		                        ion-button block type="submit" >
		                        {{ 'SAVE' | translate }}
		                    </button> 
		                </div>
					</form>
				</ion-list>
			</ion-col>
            <!--	<ion-col col-1></ion-col>  -->
		</ion-row>
	</ion-grid>

</ion-content>
