<ion-menu [content]="content" >
  

  
  <ion-content  style="background: #009688" >

 
  
     <div  style="background: #009688">

          <ion-card text-center class="hide-card"   style="background: #009688;margin-top:1px" >
            <div  class="custom-avatar" style="background: #FFF;margin-top:8px">

            <img style="margin-top:0px" text-center src="{{getDataImagen().img}}" class="custom-avatar"/>
            </div>
            <h2 style="color: #FFF" >{{getDataImagen().name}}</h2>
            <p style="color: #FFF">{{getDataImagen().email}}</p>
            <p style="color: #FFF"> {{ getDataImagen().rol | translate }}</p>
            <hr style="border-top: 1px solid #FFF;">
        </ion-card>


           </div>
   

   
      
          <ion-list style="padding-left: 2%;padding-right: 2%">
          <button   menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                   {{ p.title | translate }}
          </button>

          <button menuClose ion-item (click)="closeSession()">
            {{ 'CLOSE_SESSION' | translate }}
          </button>

        </ion-list>
     
  





  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
