page-home {

}

.hide-card {
  -webkit-box-shadow: none!important;
}

.custom-avatar {
  height: 180px;
  width: 180px;
 
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}