<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'SUB-CATEGORY' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="openModalItems()" >
     <ion-icon name="md-add-circle">
     </ion-icon> &nbsp;
     <!--{{ 'ADD_ASSOCIATE' | translate }}-->

    </button>
  </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row>

          <!--<ion-col col-1></ion-col>-->
				<ion-col col-12>
				
					<form [formGroup]="formGroup" novalidate>


	                    <!-- name -->
	                    <ion-item>
	                        <ion-label floating>{{ 'NAME' | translate }} * :</ion-label>
	                        <ion-input  type="text"  formControlName="name" clearInput></ion-input>
	                    </ion-item>


	                    <ion-item  *ngIf="formGroup.get('name').errors &&
	                        formGroup.get('name').dirty "  no-lines>
	                        
	                        <p color="danger" ion-text 
	                        *ngIf="formGroup.get('name').hasError('required')" >
	                            {{ 'REQUIRED_FIELD' | translate }}
	                        </p>
	                        
	                        <p color="danger"  
	                           *ngIf="formGroup.get('name').hasError('minlength')" 
	                            ion-text >
	                            {{ 'MIN_FIELD' | translate }} 3
	                        </p>

	                        <p color="danger"  
	                           *ngIf="formGroup.get('name').hasError('maxlength')" 
	                            ion-text >
	                            {{ 'MAX_FIELD' | translate }} 255
	                        </p>

	                        
	                    </ion-item>


	                 <!-- description -->
	                    <ion-item>
	                        <ion-label floating>{{ 'DESCRIPTION' | translate }} * :</ion-label>
	                        <ion-textarea formControlName="description" ></ion-textarea>
	                    </ion-item>


	                    <ion-item  *ngIf="formGroup.get('description').errors &&
	                        formGroup.get('description').dirty"  no-lines>
	                        
	                        <p color="danger" ion-text 
	                        *ngIf="formGroup.get('description').hasError('required')" >
	                            {{ 'REQUIRED_FIELD' | translate }}
	                        </p>
	                        
	                        <p color="danger"  
	                           *ngIf="formGroup.get('description').hasError('minlength')" 
	                            ion-text >
	                            {{ 'MIN_FIELD' | translate }} 6
	                        </p>

	                        <p color="danger"  
	                           *ngIf="formGroup.get('description').hasError('maxlength')" 
	                            ion-text >
	                            {{ 'MAX_FIELD' | translate }} 1024
	                        </p>
	                        
	                    </ion-item>


	                    
					</form>

				</ion-col>
                <!--<ion-col col-1></ion-col>-->
		  </ion-row>

  

          <div style="margin-top: 20px">
              <button ion-button full 
                  [disabled]="formGroup.invalid " (click)="onFormAction()"
                  ion-button block  >
                  {{ 'SAVE' | translate }}
              </button> 
          </div>

	</ion-grid>

</ion-content>
