
<ion-header>

 <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title style="position:inherit">{{ 'PROMOS' | translate }}</ion-title>
     </ion-navbar>
  <ion-buttons end>
    <button ion-button  color="light"  (click)="closeDialog()" >
    	<ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding>


  <ng-container *ngIf="listData.length !== 0">
      
      <ion-list>
        <div ion-item *ngFor="let data of listData">


        <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              {{ 'NAME' | translate }}: {{data.name}}
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
          </ion-card>




        <!--  <h2>{{ 'NAME' | translate }}: {{data.name}}</h2>
          <h3> {{ 'DESCRIPTION' | translate }}: {{data.description}}</h3>
        -->
        </div>  
      </ion-list>

  </ng-container>

</ion-content>
